/* Reset styles */
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100% !important;
    height: 100% !important;
}

.heading {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
}

.lrgBtnText {
    font-size: 1.3rem;
}

.whiteBtn {
    background-color: white !important;
}

.whiteBtn:hover {
    background-color: rgb(228, 224, 224) !important;
}

.studentProfContainer {
    margin: 0 65px 0 65px !important
}

.studentRow:hover {
    background-color: #d9d9d9;
    border-radius: .7rem !important;
}

.studentName {
    font-family: ''M PLUS Rounded 1c', sans-serif';
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 !important;
}

.motto {
    margin: -.3rem 0 .5rem 0 !important;
    
}

.linkBtnIcon {
    margin: .25rem 0;
}

.marginFix {
    margin: 0 80px 0 80px !important;
}

.addProfInvis {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.addProfVis {
    display: block;
}

.addProfInstructions {
    margin: 0 145px 0 145px !important;
    background-color: white;
}

.modalBackdrop{
    margin: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.exitModal {
    position: sticky;
    top: 15px;
    right: 15px;
    color: white;
}

.showModal {
    visibility: visible;
    width: 100%;
    height: 100%
}

.hideModal {
    height: 0px;
    width: 0px;
    visibility: hidden;
    display: none;
}

.twitterBtn {
    background-color: #55acee !important;
    color: white !important;
}

.facebookBtn {
    background-color: #3b5998 !important;
    color: white !important;

}

.linkedinBtn {
    background-color: #0077b5 !important;
    color: white !important;

}

.redditBtn {
    background-color: #ff3d1e !important;
    color: white !important;

}

.resume-Modal {
    height: 80vh;
    background-color: white;
    overflow-y: scroll;
}

.resumeProfImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.light-text {
    font-weight: 200;
}

