node_modules/
.cache/
yarn.lock
pnpm-lock.yaml

dist/
build/
out/

.vscode/
.idea/
.theia/
.history/

.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.bak
*.tmp

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.env
.env.local
.env.*.local

.nyc_output/
coverage/
.eslintcache
.parcel-cache/
*.tsbuildinfo

.now/
.vercel/
.netlify/
firebase.json

public/
static/
site/static/resumes.json
